@font-face {
  font-family: 'Tex Gyre Condensed';
  src: url(texgyreheroscn-regular.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(24px + 0.5vmax);
  font-family: 'Tex Gyre Condensed', Arial, Helvetica, sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.3;
}

body {
  background-color: #000000;
  color: #669b65;
}

article {
  background-color: #000000;
/*  padding: 5rem 0 5rem 0;*/

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

article p {
  max-width: 70ch;
  margin: 0rem auto 0rem auto;
  padding: 0 2rem;
  text-align: center;
}

article figure {
  max-width: 80ch;
  margin: 3rem auto 3rem auto;
}

article img {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
